html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
html,
body{
  @extend %Roboto-Regular;
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  height: 100%;   
//   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!/
}
p{
  margin: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  font-size: inherit;
}
a{
  display: inline-block;
  text-decoration: none;
  color: inherit
}
ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

// .title{
//     @extend %AlGrey-Bold;
//     font-size: 36px;
//     line-height: 49px;
//     padding: 0px 35px;
//     border-bottom: 2px solid $blue;
//     text-align: center;
//     margin: 0 auto;
//     margin-bottom: 56px;
//     max-width: fit-content;
// }

.main-btn{
    padding: 18px 40px;
    border: 2px solid $blue;
    border-radius: 5px;
    color: $blue;
}
