%Roboto-Regular {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%Roboto-Light {
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
}

%Roboto-Medium {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

$yellow: #F1CD09;
$blue: #34445E;
$text: #000;
$background: #EBEBEB;
$box: rgba(255, 255, 255, 0.7);